@use "./variables" as *;

header{
    transition: .35s ease;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: transparent;
    width: 100%;
    img{width: 40px;}
    &.scrolled{
        background-color: $glass;
        backdrop-filter: $blur;
    }
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    list-style: none;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    li{
        padding: 5px;
    }
}

a{
    text-decoration: none;
    color: $white;
}